@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Daily Planner</h1>
    <p class="lead">Web application for daily planning</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Daily plans</h2>
        <p>
            List of Daily Plans 
        </p>
        <p>@Html.ActionLink("Daily Plans", "Index", "DailyPlan", null, new {@class = "btn btn-primary btn-lg", @id = "menu-daily-plan-link-id" })</p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>List of Projects</p>
        <p>@Html.ActionLink("Projects", "Index", "Project", null, new { @class = "btn btn-primary btn-lg", @id = "menu-project-link-id" })</p>
    </div>
    <div class="col-md-4">
        <h2>Work items</h2>
        <p>List of Work items</p>
        <p>@Html.ActionLink("Work Items", "Index", "WorkItem", null, new { @class = "btn btn-primary btn-lg", @id = "menu-workitem-link-id" })</p>
    </div>
</div>
