
@{
    ViewBag.Title = "AddDailyPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddDailyPlan</h2>

 <table class="table">
    <tr>
        <td></td>

        @*@Html.ListBoxFor(items => item.DayBefore, new MultiSelectList(item.DayBefore, "Title"))*@


    </tr>
 </table>

