body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

#daily-plan-day-before-listbox-id {
     width:100%;
}
.daily-plan-today-listbox-class,
.add-note-text-class {
    max-width: 400px;
    width:400px;
}

#add-quick-description-textbox-id {
    min-width:500px;
    max-width:500px;
    width:500px;

    
}

#add-quick-project-dropdown-id {
    min-width:300px;
}
